node-red/data/flows.json
[{"id":"7da0383f.82fa88","type":"tab","label":"Sunroom Fan","disabled":false,"info":""},{"id":"7a8814d5.b944dc","type":"tab","label":"HVAC Circulation","disabled":true,"info":""},{"id":"fd7c2892.538878","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"68a10a72.6e3234","type":"server-state-changed","z":"7da0383f.82fa88","name":"Sunroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.sunroom_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":456.00000762939453,"y":161.00000381469727,"wires":[["b51f8b22.a4ce88"]]},{"id":"8d568b0.f683078","type":"server-state-changed","z":"7da0383f.82fa88","name":"Bedroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.bedroom_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":87.00000095367432,"wires":[["d99ef602.130a28"]]},{"id":"5f2471f.6164b9","type":"server-state-changed","z":"7da0383f.82fa88","name":"Bathroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.bathroom_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":146,"y":140.00000190734863,"wires":[["d99ef602.130a28"]]},{"id":"308fbc3.dc2a344","type":"server-state-changed","z":"7da0383f.82fa88","name":"Thermostat Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.apartment_thermostat_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":141,"y":35.00000190734863,"wires":[["d99ef602.130a28"]]},{"id":"d99ef602.130a28","type":"function","z":"7da0383f.82fa88","name":"Average Non-Sunroom","func":"var temps = flow.get('temps') || {};\ntemps[msg.topic] = msg.payload;\nflow.set('temps', temps);\n\nvar average = Object.values(temps).reduce((sum, t) => sum + t) / Object.values(temps).length;\nflow.set('average-temp', average);\n\nmsg.payload = average;\n\nreturn msg;","outputs":1,"noerr":0,"x":446.00000762939453,"y":40.00000762939453,"wires":[["e2b2937b.dc8a8"]]},{"id":"e2b2937b.dc8a8","type":"api-current-state","z":"7da0383f.82fa88","name":"Sunroom Temperature","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sunroom_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","x":457.1000747680664,"y":101.40001487731934,"wires":[["b51f8b22.a4ce88"]]},{"id":"4efb796b.d3b9e8","type":"function","z":"7da0383f.82fa88","name":"Get Sunroom Difference","func":"var average = flow.get('average-temp');\n\nif (!average) {\n    node.error(\"No average temperature available\");\n    return null;\n}\n\nmsg.payload = msg.payload - average;\n\nreturn msg;","outputs":1,"noerr":0,"x":1118.300033569336,"y":115.40001487731934,"wires":[["cce27cb4.ef522","adf7a6da.c53548"]]},{"id":"5cbccc5e.f6f4d4","type":"switch","z":"7da0383f.82fa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"2.5","vt":"str"},{"t":"lte","v":"1.5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1200.1001052856445,"y":273.0000057220459,"wires":[["c7f84b9b.dd5ef8"],["632cc957.41bda8"],[]]},{"id":"e6956de.4f0fe9","type":"api-call-service","z":"7da0383f.82fa88","name":"","server":"fd7c2892.538878","service_domain":"fan","service":"turn_on","data":"{\"entity_id\":\"fan.sunroom\",\"speed\":\"{{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1609.9001121520996,"y":323.4000172615051,"wires":[[]]},{"id":"b51f8b22.a4ce88","type":"api-current-state","z":"7da0383f.82fa88","name":"Climate Automations","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":711.8999862670898,"y":112.4000015258789,"wires":[["f7faf261.8d49a"],[]]},{"id":"9a70d4a0.8a9b48","type":"server-state-changed","z":"7da0383f.82fa88","name":"Climate Auto Enabled","server":"fd7c2892.538878","entityidfilter":"input_boolean.climate_auto","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":148.50001525878906,"y":298.3999938964844,"wires":[["e2b2937b.dc8a8"],[]]},{"id":"f7faf261.8d49a","type":"api-current-state","z":"7da0383f.82fa88","name":"No Guests","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":907.8000030517578,"y":113.00000190734863,"wires":[["4efb796b.d3b9e8"],[]]},{"id":"632cc957.41bda8","type":"change","z":"7da0383f.82fa88","name":"Low","rules":[{"t":"set","p":"payload","pt":"msg","to":"low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1394.1002082824707,"y":379.4000301361084,"wires":[["e6956de.4f0fe9"]]},{"id":"c7f84b9b.dd5ef8","type":"change","z":"7da0383f.82fa88","name":"Medium","rules":[{"t":"set","p":"payload","pt":"msg","to":"medium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1394.0001106262207,"y":323.0000047683716,"wires":[["e6956de.4f0fe9"]]},{"id":"82a1c2d4.b5b2","type":"change","z":"7da0383f.82fa88","name":"High","rules":[{"t":"set","p":"payload","pt":"msg","to":"high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1393.0001106262207,"y":273.00000381469727,"wires":[["e6956de.4f0fe9"]]},{"id":"194f6a01.356306","type":"server-state-changed","z":"7da0383f.82fa88","name":"No Guests","server":"fd7c2892.538878","entityidfilter":"input_boolean.guests","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":185.00000381469727,"y":252.00000381469727,"wires":[["e2b2937b.dc8a8"],[]]},{"id":"cce27cb4.ef522","type":"api-current-state","z":"7da0383f.82fa88","name":"Sunroom Fan","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.sunroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"fan","override_data":"msg","x":1348.7002639770508,"y":116.40001392364502,"wires":[["8698cecb.07ed5"]]},{"id":"8698cecb.07ed5","type":"switch","z":"7da0383f.82fa88","name":"","property":"fan.attributes.speed","propertyType":"msg","rules":[{"t":"eq","v":"high","vt":"str"},{"t":"eq","v":"medium","vt":"str"},{"t":"eq","v":"low","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1043.7002029418945,"y":328.4000053405762,"wires":[["5cbccc5e.f6f4d4"],["9b0690e2.3fcff"],["6870931e.6ceccc"]]},{"id":"9b0690e2.3fcff","type":"switch","z":"7da0383f.82fa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"lte","v":"1.5","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1200.0001068115234,"y":328.0000057220459,"wires":[["82a1c2d4.b5b2"],["632cc957.41bda8"],[]]},{"id":"6870931e.6ceccc","type":"switch","z":"7da0383f.82fa88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"gte","v":"2","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1200.0001068115234,"y":383.0000057220459,"wires":[["82a1c2d4.b5b2"],["c7f84b9b.dd5ef8"],[]]},{"id":"adf7a6da.c53548","type":"debug","z":"7da0383f.82fa88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1091.5000381469727,"y":192.40000534057617,"wires":[]},{"id":"5705c436.ea325c","type":"server-state-changed","z":"7a8814d5.b944dc","name":"HVAC Fan Runtime","server":"fd7c2892.538878","entityidfilter":"sensor.hvac_fan_runtime","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0.15","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":135.10000610351562,"y":122.40000915527344,"wires":[["fd000ae6.61f778"],[]]},{"id":"fd000ae6.61f778","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":336.1000518798828,"y":115.40001392364502,"wires":[["10ed761b.6e667a"],[]]},{"id":"307678ca.876ef8","type":"function","z":"7a8814d5.b944dc","name":"Temp Split > 1.5","func":"if ((msg.data.attributes.max_value -\n    msg.data.attributes.min_value) > 1.5)\n{\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":514.1000518798828,"y":167.4000301361084,"wires":[["c48c9a02.173498"]]},{"id":"10ed761b.6e667a","type":"api-call-service","z":"7a8814d5.b944dc","name":"Turn On HVAC Fan","server":"fd7c2892.538878","service_domain":"climate","service":"set_fan_mode","data":"{\"entity_id\":\"climate.apartment\",\"fan_mode\":\"on\"}","mergecontext":"","output_location":"","output_location_type":"none","x":939.0999908447266,"y":116.40001487731934,"wires":[[]]},{"id":"cf7cf67e.bcf3e8","type":"server-state-changed","z":"7a8814d5.b944dc","name":"Apartment Temperatures","server":"fd7c2892.538878","entityidfilter":"sensor.apartment_temperatures","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":115,"y":166.40000343322754,"wires":[["83218fdf.77762"]]},{"id":"c48c9a02.173498","type":"api-current-state","z":"7a8814d5.b944dc","name":"HVAC Runtime","server":"fd7c2892.538878","outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gte","override_topic":true,"entity_id":"sensor.hvac_fan_runtime","state_type":"num","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":708.099983215332,"y":167.4000062942505,"wires":[["10ed761b.6e667a"],[]]},{"id":"83218fdf.77762","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":336.00000762939453,"y":166.00000381469727,"wires":[["307678ca.876ef8"],[]]},{"id":"d9f3a59f.28da28","type":"server-state-changed","z":"7a8814d5.b944dc","name":"HVAC Fan","server":"fd7c2892.538878","entityidfilter":"binary_sensor.apartment_thermostat_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":161.70000457763672,"y":222.40000534057617,"wires":[[],[]]},{"id":"d7ff9bb3.9e6978","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":333,"y":219,"wires":[[],[]]}]