node-red/data/flows.json
[{"id":"7da0383f.82fa88","type":"tab","label":"Sunroom Fan","disabled":false,"info":""},{"id":"ca5f05c2.e15cf8","type":"tab","label":"Sunroom Thermostat","disabled":false,"info":""},{"id":"7a8814d5.b944dc","type":"tab","label":"HVAC Circulation","disabled":true,"info":""},{"id":"fd7c2892.538878","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"68a10a72.6e3234","type":"server-state-changed","z":"7da0383f.82fa88","name":"Sunroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.sunroom_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":456.00000762939453,"y":161.00000381469727,"wires":[["b51f8b22.a4ce88"]]},{"id":"8d568b0.f683078","type":"server-state-changed","z":"7da0383f.82fa88","name":"Bedroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.bedroom_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":87.00000095367432,"wires":[["d99ef602.130a28"]]},{"id":"5f2471f.6164b9","type":"server-state-changed","z":"7da0383f.82fa88","name":"Bathroom Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.bathroom_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":146,"y":140.00000190734863,"wires":[["d99ef602.130a28"]]},{"id":"308fbc3.dc2a344","type":"server-state-changed","z":"7da0383f.82fa88","name":"Thermostat Temperature","server":"fd7c2892.538878","entityidfilter":"sensor.apartment_thermostat_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":141,"y":35.00000190734863,"wires":[["d99ef602.130a28"]]},{"id":"d99ef602.130a28","type":"function","z":"7da0383f.82fa88","name":"Average Non-Sunroom","func":"var temps = flow.get('temps') || {};\ntemps[msg.topic] = msg.payload;\nflow.set('temps', temps);\n\nvar average = Object.values(temps).reduce((sum, t) => sum + t) / Object.values(temps).length;\nflow.set('average-temp', average);\n\nmsg.payload = average;\n\nreturn msg;","outputs":1,"noerr":0,"x":446.00000762939453,"y":40.00000762939453,"wires":[["e2b2937b.dc8a8"]]},{"id":"e2b2937b.dc8a8","type":"api-current-state","z":"7da0383f.82fa88","name":"Sunroom Temperature","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.sunroom_temperature","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"","override_data":"none","x":457.1000747680664,"y":101.40001487731934,"wires":[["b51f8b22.a4ce88"]]},{"id":"4efb796b.d3b9e8","type":"function","z":"7da0383f.82fa88","name":"Get Sunroom Difference","func":"var average = flow.get('average-temp');\n\nif (!average) {\n    node.error(\"No average temperature available\");\n    return null;\n}\n\nmsg.payload = msg.payload - average;\n\nreturn msg;","outputs":1,"noerr":0,"x":1118.300033569336,"y":115.40001487731934,"wires":[["cce27cb4.ef522"]]},{"id":"5cbccc5e.f6f4d4","type":"switch","z":"7da0383f.82fa88","name":"High","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"str"},{"t":"lte","v":"1.5","vt":"str"},{"t":"lte","v":"2.5","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1222.100112915039,"y":265.00000381469727,"wires":[["1b5d0f0.4f44df1"],["632cc957.41bda8"],["c7f84b9b.dd5ef8"]]},{"id":"e6956de.4f0fe9","type":"api-call-service","z":"7da0383f.82fa88","name":"Set Fan Speed","server":"fd7c2892.538878","service_domain":"fan","service":"turn_on","data":"{\"entity_id\":\"fan.sunroom\",\"speed\":\"{{payload}}\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1761.9001159667969,"y":318.4000172615051,"wires":[[]]},{"id":"b51f8b22.a4ce88","type":"api-current-state","z":"7da0383f.82fa88","name":"Climate Automations","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":711.8999862670898,"y":112.4000015258789,"wires":[["f7faf261.8d49a"],[]]},{"id":"9a70d4a0.8a9b48","type":"server-state-changed","z":"7da0383f.82fa88","name":"Climate Auto Enabled","server":"fd7c2892.538878","entityidfilter":"input_boolean.climate_auto","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":148.50001525878906,"y":298.3999938964844,"wires":[["e2b2937b.dc8a8"],[]]},{"id":"f7faf261.8d49a","type":"api-current-state","z":"7da0383f.82fa88","name":"Guests?","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":897.8000030517578,"y":113.00000190734863,"wires":[["4efb796b.d3b9e8"],[]]},{"id":"632cc957.41bda8","type":"change","z":"7da0383f.82fa88","name":"Set Low","rules":[{"t":"set","p":"payload","pt":"msg","to":"low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1556.100212097168,"y":374.4000301361084,"wires":[["e6956de.4f0fe9","b65c5fbd.3d466"]]},{"id":"c7f84b9b.dd5ef8","type":"change","z":"7da0383f.82fa88","name":"Set Medium","rules":[{"t":"set","p":"payload","pt":"msg","to":"medium","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1556.000114440918,"y":318.0000047683716,"wires":[["e6956de.4f0fe9","b65c5fbd.3d466"]]},{"id":"82a1c2d4.b5b2","type":"change","z":"7da0383f.82fa88","name":"Set High","rules":[{"t":"set","p":"payload","pt":"msg","to":"high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555.000114440918,"y":268.00000381469727,"wires":[["e6956de.4f0fe9","b65c5fbd.3d466"]]},{"id":"194f6a01.356306","type":"server-state-changed","z":"7da0383f.82fa88","name":"No Guests","server":"fd7c2892.538878","entityidfilter":"input_boolean.guests","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":185.00000381469727,"y":252.00000381469727,"wires":[["e2b2937b.dc8a8"],[]]},{"id":"cce27cb4.ef522","type":"api-current-state","z":"7da0383f.82fa88","name":"Sunroom Fan","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.sunroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"fan","override_data":"msg","x":1382.7003631591797,"y":111.40001392364502,"wires":[["8698cecb.07ed5"]]},{"id":"8698cecb.07ed5","type":"switch","z":"7da0383f.82fa88","name":"Current Fan Speed","property":"fan.attributes.speed","propertyType":"msg","rules":[{"t":"eq","v":"high","vt":"str"},{"t":"eq","v":"medium","vt":"str"},{"t":"eq","v":"low","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":952.7002105712891,"y":346.4000053405762,"wires":[["5cbccc5e.f6f4d4"],["9b0690e2.3fcff"],["6870931e.6ceccc"],["39a2d0d8.64a88"]]},{"id":"9b0690e2.3fcff","type":"switch","z":"7da0383f.82fa88","name":"Medium","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"lte","v":"0","vt":"str"},{"t":"lte","v":"1.5","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1213.000114440918,"y":320.00000381469727,"wires":[["82a1c2d4.b5b2"],["1b5d0f0.4f44df1"],["632cc957.41bda8"]]},{"id":"6870931e.6ceccc","type":"switch","z":"7da0383f.82fa88","name":"Low","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"gte","v":"2","vt":"str"},{"t":"lte","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1226.000114440918,"y":375.0000057220459,"wires":[["82a1c2d4.b5b2"],["c7f84b9b.dd5ef8"],["1b5d0f0.4f44df1"]]},{"id":"5705c436.ea325c","type":"server-state-changed","z":"7a8814d5.b944dc","name":"HVAC Fan Runtime","server":"fd7c2892.538878","entityidfilter":"sensor.hvac_fan_runtime","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0.15","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"x":135.10000610351562,"y":122.40000915527344,"wires":[["fd000ae6.61f778"],[]]},{"id":"fd000ae6.61f778","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":336.1000518798828,"y":115.40001392364502,"wires":[["10ed761b.6e667a"],[]]},{"id":"307678ca.876ef8","type":"function","z":"7a8814d5.b944dc","name":"Temp Split > 1.5","func":"if ((msg.data.attributes.max_value -\n    msg.data.attributes.min_value) > 1.5)\n{\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":514.1000518798828,"y":167.4000301361084,"wires":[["c48c9a02.173498"]]},{"id":"10ed761b.6e667a","type":"api-call-service","z":"7a8814d5.b944dc","name":"Turn On HVAC Fan","server":"fd7c2892.538878","service_domain":"climate","service":"set_fan_mode","data":"{\"entity_id\":\"climate.apartment\",\"fan_mode\":\"on\"}","mergecontext":"","output_location":"","output_location_type":"none","x":939.0999908447266,"y":116.40001487731934,"wires":[[]]},{"id":"cf7cf67e.bcf3e8","type":"server-state-changed","z":"7a8814d5.b944dc","name":"Apartment Temperatures","server":"fd7c2892.538878","entityidfilter":"sensor.apartment_temperatures","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":115,"y":166.40000343322754,"wires":[["83218fdf.77762"]]},{"id":"c48c9a02.173498","type":"api-current-state","z":"7a8814d5.b944dc","name":"HVAC Runtime","server":"fd7c2892.538878","outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gte","override_topic":true,"entity_id":"sensor.hvac_fan_runtime","state_type":"num","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":708.099983215332,"y":167.4000062942505,"wires":[["10ed761b.6e667a"],[]]},{"id":"83218fdf.77762","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":336.00000762939453,"y":166.00000381469727,"wires":[["307678ca.876ef8"],[]]},{"id":"d9f3a59f.28da28","type":"server-state-changed","z":"7a8814d5.b944dc","name":"HVAC Fan","server":"fd7c2892.538878","entityidfilter":"binary_sensor.apartment_thermostat_fan","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":161.70000457763672,"y":222.40000534057617,"wires":[[],[]]},{"id":"d7ff9bb3.9e6978","type":"api-current-state","z":"7a8814d5.b944dc","name":"Climate Auto","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":333,"y":219,"wires":[[],[]]},{"id":"67014486.6ea3ac","type":"api-call-service","z":"7da0383f.82fa88","name":"Turn Fan Off","server":"fd7c2892.538878","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.sunroom\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1708.199951171875,"y":456,"wires":[[]]},{"id":"39a2d0d8.64a88","type":"switch","z":"7da0383f.82fa88","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"},{"t":"gte","v":"2","vt":"str"},{"t":"gte","v":"1","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1226.0000190734863,"y":435.0000057220459,"wires":[["82a1c2d4.b5b2"],["c7f84b9b.dd5ef8"],["632cc957.41bda8"],["1b5d0f0.4f44df1"]]},{"id":"1b5d0f0.4f44df1","type":"api-current-state","z":"7da0383f.82fa88","name":"Thermostat","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.sunroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"heater","override_data":"msg","x":1247.5,"y":556,"wires":[["2242fe75.58fea2"]]},{"id":"2242fe75.58fea2","type":"switch","z":"7da0383f.82fa88","name":"Heater running?","property":"heater.attributes.hvac_action","propertyType":"msg","rules":[{"t":"eq","v":"heating","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1435.5,"y":557,"wires":[["632cc957.41bda8"],["67014486.6ea3ac","897dbe5a.ffd67"]]},{"id":"fc9dd86f.d75c88","type":"server-state-changed","z":"ca5f05c2.e15cf8","name":"","server":"fd7c2892.538878","entityidfilter":"climate.apartment","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":179.5,"y":123,"wires":[["31fd0e69.7e4bd2"]]},{"id":"ee7b95f5.fd89b8","type":"api-call-service","z":"ca5f05c2.e15cf8","name":"Set Temperature","server":"fd7c2892.538878","service_domain":"climate","service":"set_temperature","data":"{\"entity_id\":\"climate.sunroom\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1005.5,"y":235,"wires":[[]]},{"id":"5f5dbe83.89d14","type":"function","z":"ca5f05c2.e15cf8","name":"Get Temp Setting From Change","func":"var data = {};\n\nif (msg.data.new_state.state !== msg.data.old_state.state) {\n    if (['off', 'cool'].includes(msg.payload)) {\n        return {payload: {data: {hvac_mode: 'off'}}};\n    }\n    \n    data.hvac_mode = 'heat';\n}\n\nif (msg.data.new_state.attributes.hvac_action !==\n    msg.data.old_state.attributes.hvac_action) {\n        if (msg.data.new_state.attributes.hvac_action === 'cooling') {\n            data.hvac_mode = 'off';\n        }\n        else {\n            data.hvac_mode = 'heat';\n        }\n}\n\nif (msg.payload === \"auto\" && (data.hvac_mode ||\n        msg.data.new_state.attributes.target_temp_low !=\n        msg.data.old_state.attributes.target_temp_low)) {\n    data.temperature = msg.data.new_state.attributes.target_temp_low;\n}\nelse if (data.hvac_mode ||\n            msg.data.new_state.attributes.temperature !=\n            msg.data.old_state.attributes.temperature) {\n    data.temperature = msg.data.new_state.attributes.temperature;\n}\n\nif (!flow.get('apartment-occupied') && data.temperature) {\n    delete data.temperature;\n}\n\nif (data.hvac_mode || data.temperature) {\n    return {payload: {data}};\n}\nelse {\n    return null;\n}","outputs":1,"noerr":0,"x":744.5,"y":174,"wires":[["ee7b95f5.fd89b8","4c32c2b8.107a6c"]]},{"id":"4c32c2b8.107a6c","type":"debug","z":"ca5f05c2.e15cf8","name":"Set Temp Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1001,"y":173,"wires":[]},{"id":"f2a01cb0.a11a9","type":"debug","z":"ca5f05c2.e15cf8","name":"State Changed","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":697,"y":119,"wires":[]},{"id":"3cf6c15b.41151e","type":"server-state-changed","z":"ca5f05c2.e15cf8","name":"Apartment Occupied","server":"fd7c2892.538878","entityidfilter":"binary_sensor.apartment_occupied","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":126,"y":360,"wires":[["74f3a8f1.c567f8"]]},{"id":"74f3a8f1.c567f8","type":"change","z":"ca5f05c2.e15cf8","name":"","rules":[{"t":"set","p":"apartment-occupied","pt":"flow","to":"msg.payload = \"on\"","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"none","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"away","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":149,"y":425,"wires":[["c552f9ab.dadd48"]]},{"id":"e03a7f0e.d98f4","type":"api-call-service","z":"ca5f05c2.e15cf8","name":"Set Preset Mode","server":"fd7c2892.538878","service_domain":"climate","service":"set_preset_mode","data":"{\"entity_id\":\"climate.sunroom\",\"preset_mode\":\"{{payload}}\"}","mergecontext":"","output_location":"","output_location_type":"none","x":600,"y":431,"wires":[["5680f1f7.67102"]]},{"id":"c552f9ab.dadd48","type":"api-current-state","z":"ca5f05c2.e15cf8","name":"Climate Automations","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":380.5,"y":360,"wires":[["801b5943.b121a8"],[]]},{"id":"31fd0e69.7e4bd2","type":"api-current-state","z":"ca5f05c2.e15cf8","name":"Climate Automations","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.climate_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":481,"y":132,"wires":[["5f5dbe83.89d14","f2a01cb0.a11a9"],[]]},{"id":"801b5943.b121a8","type":"api-current-state","z":"ca5f05c2.e15cf8","name":"Presence","server":"fd7c2892.538878","outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_boolean.presence","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","x":367.5,"y":422,"wires":[["e03a7f0e.d98f4"],[]]},{"id":"5680f1f7.67102","type":"switch","z":"ca5f05c2.e15cf8","name":"Preset Not Away","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":634.5,"y":359,"wires":[["4eb09769.08db38"]]},{"id":"4eb09769.08db38","type":"api-current-state","z":"ca5f05c2.e15cf8","name":"Apartment Thermostat","server":"fd7c2892.538878","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.apartment","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":478.5,"y":261,"wires":[["5d5f717e.3a508","f053f152.23ada"]]},{"id":"5d5f717e.3a508","type":"function","z":"ca5f05c2.e15cf8","name":"Get Temp Setting From State","func":"var data = {};\n\nif (['off', 'cool'].includes(msg.payload)) {\n    return {payload: {data: {hvac_mode: 'off'}}};\n}\nelse {\n    data.hvac_mode = 'heat';\n}\n\nif (msg.payload === \"auto\") {\n    data.temperature = msg.data.attributes.target_temp_low;\n}\nelse {\n    data.temperature = msg.data.attributes.temperature;\n}\n\nreturn {payload: {data}};","outputs":1,"noerr":0,"x":739.5,"y":266,"wires":[["ee7b95f5.fd89b8","77e35f1d.be99e"]]},{"id":"f053f152.23ada","type":"debug","z":"ca5f05c2.e15cf8","name":"Occupied thermostat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1017,"y":356,"wires":[]},{"id":"77e35f1d.be99e","type":"debug","z":"ca5f05c2.e15cf8","name":"Occupied temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":999,"y":299,"wires":[]},{"id":"afa4ab2.2297558","type":"server-state-changed","z":"7da0383f.82fa88","name":"Sunroom Thermostat","server":"fd7c2892.538878","entityidfilter":"climate.sunroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":135.5,"y":356,"wires":[["e2b2937b.dc8a8"]]},{"id":"b65c5fbd.3d466","type":"debug","z":"7da0383f.82fa88","name":"Set Fan Speed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1760,"y":223,"wires":[]},{"id":"897dbe5a.ffd67","type":"debug","z":"7da0383f.82fa88","name":"Turn Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1685,"y":559,"wires":[]}]